
/* LOGIN AND REGISTRATION */

.container{
    
    background-image: url(./market.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 610px;
    max-height: 100%;
  }
.container-form1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    /* border: 2px inset white;
    border-radius: 20px; */
   
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    position:fixed;
    text-align: left;
   
  
  }
  .input-box{
    margin-bottom: 10px;
  }
  .container-form-registration{
    
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    /* border: 2px inset white;
    border-radius: 20px; */
   
    color: white;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    position:fixed;
    text-align: left;
  }
.container-form-registration form .form-details{
  display: flex;
  flex-wrap:  wrap;
  justify-content: left;
}

form .form-details .input-box{
  width: calc(100% /2 - 20px);
}
.container-form-login a:hover,
.container-form-login a:active,
.container-form-login a.active {
    color: #f5951f;
}
.container-form-login a {
  text-decoration: none;
  color: #ffffff;
}

.container-form-registration a:hover,
.container-form-registration a:active,
.container-form-registration a.active {
    color: #f5951f;
}
.container-form-registration a {
  text-decoration: none;
  color: #ffffff;
}

/* SELLER PAGE AND SELLER INFO */



.SellerPage-whole-page{

  background-image: url(market.jpeg);
}
.SellerPage{
  background-color:  rgb(255, 232, 206);
  max-height: 100%;
  border-radius: 30px;


}

.seller-top-box{
  display:flex;
  
}
.seller-information{

  height: 300px;
  width: 700px;
  margin: 20px;

}
.seller-add-product{
  
  height:300px;
  width: 500px;
  padding-left: 300px;
  margin: 20px;
}

.seller-name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #f5951f;
  font-weight: bolder;
}
.seller-store-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}


/* .seller-product-add{
  background-color: orange;
  max-height: 200px;
  width: 500px;
  max-width: 100%;

} */

.seller-product-display{
  background-color:rgb(255, 255, 255);
  height:100px;
  height: 600px;
}
.layer{
  height:300px;
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.catalog-product{
  height: 280px;
  width: 450px;
  background-color: rgb(218, 218, 218);
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px 2px double rgb(129, 129, 129);
  border-radius: 10px;
  
}
.product-info{
  margin-top: 10px;
}
.price{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}
.product-name{
  color: rgb(129, 129, 129);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
}