.product-layout {
	display: flex;
	flex-direction: row;
	
}
.product-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	flex-grow: 1;
}

.catalog-product {
	margin: 2rem;
}
