/* CSS FILE FOR BUYER */
/*---------------------------- BUYER HOMEPAGE-----------------*/
.buyer-homepage{
  margin: auto;
  max-width: 100%;
}
.main-banner{
  height: 100px;
  width: 100%;
  margin: auto;
}
.main-banner img{
}
.navigation{
    height: 10%;
    color: #f5951f ;
    width: 100%;
    margin: auto;
    display: flex;


}
.nav-btn{
    font-size: 5px;
}

.buyer-search{
    background-color: rgb(199, 199, 199);
    width: 400px;
    padding: 10px;
    margin:auto;
}

@media screen and (max-width: 500px) {
    .navigation{
      float: left;
      display: grid grid;
      text-align: left;
    }
  
}
.navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    
  }
  .navigation a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  }
  .navigation a:active {
    color: #2ce9e9;
 
  }
  .navigation a:focus {
    color: #f5951f;
 
  }
  /* .nav-btn-logout a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  } */
  .logout{
    right: 0;
    background-color: green;
    float: right;
  }


  /* -------------------------PRODUCTS------------------------- */

  .product-layout{
  margin: auto;


  }

  .product-display{
    background-color: rgb(231, 231, 231) ;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
    
  }
  .product{
    background-color: white;
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    
  }


/* ----------------------------------ORDER---------------------------------------- */
.order-btn-btn {
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  color:black;
  border-style: none;
  margin: 0;
  background-color: none;
  font-size: 10px;
  
}

.order-btn-btn:hover {
  color: #f5951f;
}

.btn--alt {
  background-color: transparent;
  color: #f5951f;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.order-btn{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding: 5px;
  width: auto;
  font-size: 13px;
}

.order-actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: white;
  width: 50%;
  z-index: 5;
  position: fixed;
  font-size: 15px;
 margin: auto;
 top: 5%;
 left: 25%;
 padding-bottom: 30px;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;

  border: white 2px solid;

}
.modal input[type="radio"]{
border: 0px;
height: 20px;
}
/*-------------------------------------------- INDEX MODAL ORDER */
.modal-order{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: white;
  width: 50%;
  z-index: 10;
  position: fixed;
  font-size: 15px;
 margin: auto;
 top: 5%;
 left: 25%;
 padding-bottom: 30px;
}

/*-------------------------------------------- INDEX MODAL ORDER */
.modal-checkout{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: #c1e6ff;
  width: 50%;
  z-index: 10;
  position: fixed;
  font-size: 15px;
 margin: auto;
 top: 5%;
 left: 25%;
 padding-bottom: 30px;
 height: 70%;
}

/* ------------------------------------------------ORDER TABLES */

th, td{
  border: none;
  border-bottom: 1px solid rgb(58, 58, 58);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: left;
  margin: auto;

}
.order-table{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;

}

tr:hover {
  background-color: #f5f5f5;
}
table{
  overflow-x:auto;
  border-collapse: collapse;
}