/* CSS FILE FOR BUYER */
.buyer-homepage{
    display: flex;
}
.navigation{
    height: 10%;
    background-color: rgb(199, 199, 199);
    width: 100%;
    margin: auto;
    display: flex;
    
}
.nav-btn{
    margin-left:20px;
    font-size: 15px;
}
.buyer-search{
    background-color: rgb(199, 199, 199);
    width: 400px;
    padding: 10px;
    margin:auto;
}
.buyer-date-time{
    background-color: rgb(199, 199, 199);
    width: 300px;
    margin:auto;
    padding: 10px;
    padding-left: 35px;
    
}
@media screen and (max-width: 500px) {
    .navigation{
      float: left;
      display: grid;
      text-align: left;
    }
}
.navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .navigation a:hover {
    background-color: rgb(255, 232, 206);
    color: black;
    
  }