/* CSS FILE FOR BUYER */
/*---------------------------- BUYER HOMEPAGE-----------------*/
.buyer-homepage{

}
.navigation{
    height: 10%;
    color: #f5951f ;
    width: 100%;
    margin: auto;
    display: flex;


}
.nav-btn{
    font-size: 5px;
}

.buyer-search{
    background-color: rgb(199, 199, 199);
    width: 400px;
    padding: 10px;
    margin:auto;
}

@media screen and (max-width: 500px) {
    .navigation{
      float: left;
      display: grid grid;
      text-align: left;
    }
  
}
.navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    
  }
  .navigation a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  }
  .navigation a:active {
    color: #2ce9e9;
 
  }
  .navigation a:focus {
    color: #f5951f;
 
  }
  /* .nav-btn-logout a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  } */
  .logout{
    right: 0;
    background-color: green;
    float: right;
  }


  /* -------------------------PRODUCTS------------------------- */

  .product-layout{
  display: flex;
  width: auto;
  margin: auto;

  }

  .product-display{
    background-color: rgb(231, 231, 231) ;
  }
  .product{
    background-color: white;
    height: 230px;
    padding: 10px;
    margin: 10px;
  }

  /* DROPDOWN */
  .dropbtn {
    background-color: #2ce9e9;
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    width: 10%;
    height: 50px;
    display: flow-root;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f5951f;
    color: black;
    font-weight: bold;
  }

  @media screen and (max-width: 500px), (max-width: 800px){
    .product-layout{
      display: grid;
      width: auto;
      margin: auto;
    
      }
}
.order-btn input{
  width: 70px;
  float: right;
  margin: auto;
  border: none;
  background-color:#2ce9e9;
  

}
.order-btn input:hover{
  color: black;
  background-color: #f5951f;
  cursor: pointer;
  
}
