
/* LOGIN AND REGISTRATION */
/* LOGIN */
.container{
    
    background-image: url(../img/market.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    overflow-y: hidden
  }
 .container-form1{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding-bottom: 100px;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  
.button-btn{
    background-color: #f5951f;
    border: none;
    padding: 6px;
    padding-left: 50px;
    padding-right: 50px;
}
.button-btn {
  color: white;
  border: none;
}

.container-form-login{
  margin:auto;
}
.container-form-login a:hover,
.container-form-login a:active,
.container-form-login a.active {
    color: #f5951f;
}
.container-form-login a {
  text-decoration: none;
  color: #ffffff;
}
/* input [type=radio] {
   border: 0px; width: 100%; height: 1em; 
} */

/* REGISTRATION */

.container-form-registration{
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding-bottom: 100px;
  background-attachment: fixed;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 4%;
}
.container-form-registration a:hover,
.container-form-registration a:active,
.container-form-registration a.active {
    color: #f5951f;
}
.container-form-registration a {
  text-decoration: none;
  color: #ffffff;
}
.input-box{
  margin:auto;
  max-width: 100%;
  padding-bottom: 30px;
 
}

/* EMAIL VERIFICATION */
.verification{
  background-color: #f5951f;
  height: 300px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  justify-content: center center;

}
.verification-code{
  font-size: 22px;
  color: white;
}
.verification-code input {
  height: 30px;
  width: 400px;
}
.btn-submit input{
  height: 30px;
  width: 200px;
}

/*----------------- ABOUT PAGE---------------*/
.aboutbanner{
  display: block;
}
.about-container1{
    background-image: url(../img/MainBanner.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    
  
}

.about-content1{
  background-color: rgba(0,0,0,0.8);
  padding-top: 5px;
  color: white;
  width: 100%;
  height: 50vh;
}
.title{
 height: 100px;
}
.merkado{
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 20px;
  text-align: center;
  
}
.about-slogan{
  height: 100px;
}
.slogan{
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  /* 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: center;
  word-spacing: 6px;
}

.about-container2{
  height: 50%;
  width: 100%;
  
  
}
.about-content2{
  height: 100vh;
  width: 100%;
  background-color: burlywood;
  display: block;
  position: absolute;

}
.whatIs{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  justify-content: center;
  text-align: left;
  color: black;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  word-spacing: 2px;
  line-height: 35px;
}