.seller-nav{
    background-color: aqua;
    max-height: 100%;
    width: 100%;
    margin: auto;
}

/* ---------------CSS FILE FOR SELLER------------------ */
.seller-homepage{
    display: flex;
}
.navigation{
    height: 10%;
    color: #f5951f ;
    width: 100%;
    margin: auto;
    display: grid flex;
    gap: 1rem;
    grid-auto-flow: column;

}
.nav-btn{
    margin-left:25px;
    font-size: 15px;
    display: inline-block;
}
.nav-btn-logout{
    height: 50%;
    color: #f5951f ;
    width: 100%;
    margin: auto;
    padding: 10px;
    /* border: 2px solid black; */
    text-align: right;




    /* margin: auto;
    width: 100%;
    justify-content: right;
    border: 2px solid black;
    display: block;
    padding-left: 800px; */
}
.buyer-search{
    background-color: rgb(199, 199, 199);
    width: 400px;
    padding: 10px;
    margin:auto;
}
.buyer-date-time{
    background-color: rgb(199, 199, 199);
    width: 300px;
    margin:auto;
    padding: 10px;
    padding-left: 35px;
    
}
@media screen and (max-width: 500px) {
    .navigation{
      float: left;
      display: grid grid;
      text-align: left;
    }
    .button-btn-logout{
    float: left;
      display:block;
      text-align: left;
    }
}
.navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    
  }
  .navigation a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  }
  .nav-btn-logout a:hover {
    color: #f5951f;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
 
  }

  /* -----------------INVENTORY---------------------- */

  .inventory{
    height:  500px;
    width: auto;
    display: flex;
    margin: auto;
  }

  th, td{
    border: none;
    border-bottom: 1px solid rgb(58, 58, 58);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    margin: auto;

  }
  .table-items{
    width: 70%;
    padding-left: 10px;
 
  }
  .side-nav{
    background-color: lightgray;
    height: 110%;
    width:45%;
    color: gray ;
    padding-left: 20px;
  

  }
  .inventory-input-details{
    padding-bottom: 18px;
    
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  table{
    overflow-x:auto;
    border-collapse: collapse;
  }
  input{
    height: 30px;
    width: 250px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
  }
  form{
    
  }
  p{
    font-size: 25px;

  }
  .btn-add-product{
    margin-top: 15%;
    display: grid;
  }
  .btn-add-product input{
    margin-bottom: 10px;
    display: grid;
  }

  @media screen and (max-width: 500px){



    .inventory{
      float: left;
      display: grid;
      text-align: left;
    }
    .table-items{
      width:50%;
      font-size: 10px;
    }
    .side-nav{
      width:90%;
      display: grid;
      text-align: left;

    }
    .btn-add-product{
      margin: auto;
      display: grid;
      text-align: left;
    }
    .btn-add-product input{
      margin-bottom: 10px;
      display: grid;
    }

}

/* -----------------SELLER PROFILE---------------------- */

.seller-profile{
  display: flex;
  height: 65vh;
  margin: auto;
  width: 100%;
  /* margin: auto;
  height: 450px;
  width: 100vh;
  
  margin-left: 15%;
  margin-top: 5%;
  background-color: lightgray;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6); */
}
.user-logo{
  background-color:#f5951f;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
  margin-left: 15%;
  

  
}

.user-logo img{
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
}
.seller-info{
  background-color: white;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
 
  

}
p{
  font-size: 20px;
}

@media screen and (max-width: 500px){

  .seller-profile{
    margin: auto;
    height: 100%;
    width: 100%;
    display: grid;
    border-radius: 25px;
    background-color: lightgray;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  }

}



/* 
.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ */


/*---------------- MODAL EDIT INFO------------- */

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f5951f;
  color: white;
  border: 1px solid #f5951f;


}

.btn:hover {
  background-color:  lightgray;
  border-color:#f5951f;
  color: black;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  margin-top: 20%;
  width: 20rem;
 
  
}

.actions {
 
}

.modal-edit-info {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: left;
  display: grid block;
  width: 30%;
  z-index: 10;
  position: fixed;
  top:0;
  right: 600px;
}
.modal-info-form{
  display: grid;

}
.modal-info-details{
  padding: 10px;
}


.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}



  /* PRODUCTS */

  .product-layout{
    display: flex;
    width: auto;
    margin: auto;
  
    }
  
    .product-display{
      background-color: rgb(231, 231, 231) ;
    }
    .product{
      background-color: white;
      height: 200px;
      padding: 10px;
      margin: 10px;
    }
  
    /* DROPDOWN */
    .dropbtn {
      background-color: #2ce9e9;
      color: black;
      font-weight: bold;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      width: 10%;
      height: 50px;
      display: flow-root;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
  
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
      
    }
    
    .dropdown:hover .dropbtn {
      background-color: #f5951f;
      color: black;
      font-weight: bold;
    }
  
    @media screen and (max-width: 500px), (max-width: 800px){
      .product-layout{
        display: grid;
        width: auto;
        margin: auto;
      
        }
  }

  /* EDIT INFORMATION MODAL */

